/* Useful constants as custom properties */

:root {
    --goldenratio: 1.618;
    --major-second: 1.125;
}

/* Document font */
:root {
    font-family: Georgia;
    --fontscaling1: var(--major-second);
    --fontscaling2: calc(var(--fontscaling1)*var(--fontscaling1));
    --fontscaling3: calc(var(--fontscaling2)*var(--fontscaling1));
    --fontscaling4: calc(var(--fontscaling2)*var(--fontscaling2));
    --fontscaling5: calc(var(--fontscaling3)*var(--fontscaling2));
    --fontscaling6: calc(var(--fontscaling4)*var(--fontscaling2));
}

:root.mac {
    font-size: 16px; /* maybe progressivity with calc and vw later */
}

:root.ios {
    font-size: 20px; /* maybe progressivity with calc and vw later */
}

/* Universal border-box fix */
:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

/* Left and right margins */
*[data-document] {
    --side-margin: 2em;
    margin-left: var(--side-margin);
    margin-right: var(--side-margin);
}

/* Table of Contents */
.TOC::before {
    content: "Table of Contents";
}

/* Headers (fonts) */

h1, h2, h3, h4, h5, h6, .TOC::before {
    font-family: -apple-system;
    font-weight: normal;
    font-variant: small-caps;
}

h5, h6 {
    font-size: calc(var(--fontscaling1)*1rem);
}

h6 {
    font-style: italic;
}

h4 {
    font-size: calc(var(--fontscaling2)*1rem);
}

h3 {
    font-size: calc(var(--fontscaling3)*1rem);
}

h2 {
    font-size: calc(var(--fontscaling4)*1rem);
}

h1, .TOC::before {
    font-size: calc(var(--fontscaling5)*1rem);
}

/* Headers (vertical spacing) */

:root {
    --paragraph-spacing: 0.5em;
}

p {
    margin-top: var(--paragraph-spacing);
    margin-bottom: var(--paragraph-spacing);
}

h1, h2, h3, h4, h5, h6 {
    margin-top: calc(1.1*var(--paragraph-spacing));
    margin-bottom: var(--paragraph-spacing);
}

/* Task list */
ol .task-list-item {
    list-style-type: none;
}

ul .task-list-item {
    list-style-type: none;
}

/* Links */
a {
    color: inherit;
}

.TOC a {
    text-decoration: inherit;
}

/* Check Boxes */

.task-list-item-checkbox {
    position:relative;
    top:0.1rem;
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    margin: 0 0.4em 0 0;
    border: 1px solid grey;
    border-radius: 3px;
    vertical-align: -1px;
    background-color: transparent; /* to avoid grey background
                                      when checked on iOS */
}

.task-list-item-checkbox:checked:after {
    position: relative;
    content: "\2713";
    font-family: "Zapf Dingbats";
    font-size: 1.2rem;
}

/* Margin around floats */
:root {
    --float-margin: 1.5em;
    --float-margins: 1em var(--float-margin)
                     var(--float-margin) var(--float-margin);
}

/* Figures */
figure {
    float: left;
    margin: var(--float-margins);
}

/* Tables */
table {
    width: calc(100% - 2*var(--side-margin));
    margin: var(--float-margins);
    margin-left: auto;
    margin-right: auto;
}

table caption {
    margin: var(--paragraph-spacing);
    caption-side: bottom;
    text-align: left;
}

table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
}

th {
    background-color: #f2f2f2;
    border-bottom-width: 2px;
}

th, td {
    padding: calc(var(--paragraph-spacing)/2);
}

/* Code */
:root {
    --code-font-family: 'Menlo', monospace;
    /* Otherwise the monospace font is too big compare to document serif font */
    --code-font-size: 0.9rem;
}

/* Support for night mode */
:root {
    --night-colour:#cccccc;
    --night-background-colour:#101010;
}

.night-mode {
    color: var(--night-colour);
    background-color: var(--night-background-colour);
}

.night-mode th {
    background-color: var(--night-background-colour);
}

.night-mode .task-list-item-checkbox:checked:after {
    color: var(--night-colour);
}

.night-mode .task-list-item-checkbox {
    border-color: var(--night-colour);
}
