/* Document font */
:root {
    font-family: "Georgia";
}

:root.mac {
    font-size: 16px; /* maybe progressivity with calc and vw later */
}

:root.ios {
    font-size: 20px; /* maybe progressivity with calc and vw later */
}
